@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    margin: 0 20%;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
}


/* HEADER */
.social_container{
    display: flex;
    width: 100%;
}


.social_list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.body {
    width: 100%;
    display: flex;
    border: 1px solid white;
    flex-direction: column;
}

.intro {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}

.intro_img_container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.intro_img_container img {
    width: 70%;
    border-radius: 50%;
}

.intro_aboutMe{
    width: 50%;
    align-content: center;
}

.text, .text_h2 {
    color: white;
    margin-bottom: 30px;
    justify-self: center;
}



.info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
  }
  
.label {
    font-weight: bold;
    text-align: left;
}
  
.value {
    text-align: left;
}



/* EDUCATION */

/* education title */

.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    flex-wrap: wrap;
}



/* .education_container {
    width: 100%;
} */

.title h1{
    margin: 20px 0;
    width: 100%;
    text-align: center;

}

/* education content */

.education_content {
    display: grid;
    width: 100%; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    justify-items: center;
    place-content: center;
    flex-wrap: wrap;
}

.education_item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 15px;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 5px;
}

.education_item:nth-child(1){
    grid-column: 1/span 2;
}

.education_item:nth-child(3){
    grid-gap: 0 15px;
}

/* FAVORITE COURSES */


.course {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}

.course_content {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    place-content: center;
}

.course_item {
    display: grid;
    list-style: none;
    background-color: #1a1a1a;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
}

.social-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px
}

.social-container a img {
    width: 24px;
    height: 24px;
    margin: 10px;
    
}

.social-container a{
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
}