
/* EXPERIENCE SECTION */

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    min-height: 100vh;
    flex-wrap: wrap;
}

.exp_content {
    width: 100%;
    display: inline-block;
}

.exp-item {
    display: flex;
    width: 100%;
}

.exp_button {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.exp_button:hover{
    background-color: hsl(0, 0%, 30%);
}

.exp_info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    color: white;
    font-family: 'Inter', "san-serif";
}

.exp_info h1{
    font-size: 24px;
    font-weight: 500;
}
.exp_info h3{
    font-size: 15px;
    font-weight: lighter;
}
.exp_info h2 {
    font-size: 20px;
    font-weight: 300;
}

.triangle {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.triangle img {
    width: 24px;
    height: 24px;
}


.exp_info_dropdown {
    width: 100%;
    padding: 10px;
    display: none;
}

.exp_info_dropdown ul {
    list-style: none;
    text-align: start;
    font-size: 15px;
    color: white;
    font-weight: 500;
    width: 100%;
}

.exp_info_dropdown ul li {
    margin-bottom: 5px;
}

.exp_info_dropdown.show {
    display: grid;
    transition: 0.5s ease-in;
}


/* project content section */

.project_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;  
    place-content: center;
   
}

.project_items {
    border: 1px solid white;
    border-radius: 5px;
    min-height: 15vh;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 0 20px ;
}


.project_items img{
    width: 100%;
    height: 100%;
    
}

.span-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(145,209,237);
    background: linear-gradient(90deg, rgba(145,209,237,1) 5%, rgba(78,148,213,1) 19%, rgba(0,212,255,0) 61%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project_items span{
    color: white;
    
}

@keyframes slide {
    from {
        opacity: 1;
    }
}